@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.bold-underline:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px; /* Adjust thickness as needed */
  text-decoration-skip-ink: none;
  text-underline-offset: 0.3em; /* Adjust this value as needed to control the spacing */
}

.fit-content {
  width: fit-content;
}



/* DARK MODE

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
